parameters:
	ignoreErrors:
		-
			message: '#^Trait HeimrichHannot\\EncoreContracts\\AddPageEntrypointTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: AddPageEntrypointTrait.php

		-
			message: '#^Trait HeimrichHannot\\EncoreContracts\\PageAssetsTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: PageAssetsTrait.php
